<h1>Список силосных башен</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td>№ Башни</td>
            <td>Уровень %</td>
            <td>Масса карналита</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of silos">
            <ng-template [ngIf]="silo?.id != p.id" [ngIfElse]="edit">
                <td>{{p?.title}}</td>
                <td>{{(p?.siloValue/p?.maxValue)*100}}</td>
                <td>{{p?.siloValue}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editSilo(p)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
                </td>
            </ng-template> 
        </tr>
    </tbody>
</table>
 
<!--шаблон для редактирования-->
<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="silo.title" class="form-control" />
    </td>
    <td>{{(p?.siloValue/p?.maxValue)*100}}</td>
    <td>
        <input type="number" [(ngModel)]="silo.siloValue" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>
 
<!--шаблон для добавления-->
<ng-template #create>
    <div class="form-group">
        <label>№ Башни</label>
        <input type="text" [(ngModel)]="silo.title" class="form-control" />
    </div>
    <!-- <div class="form-group">
        <label>Уровень %</label>
        <input type="number" [(ngModel)]="silo.silovalue" class="form-control" />
    </div> -->
    <div class="form-group">
        <label>Масса карналита</label>
        <input type="number" [(ngModel)]="silo.siloValue" class="form-control" />
    </div>
    <div class="form-group">
      <label>Миниальная масса карналита</label>
      <input type="number" [(ngModel)]="silo.minValue" class="form-control" />
  </div>
    <div class="form-group">
      <label>Максимальная масса карналита</label>
      <input type="number" [(ngModel)]="silo.maxValue" class="form-control" />
    </div>
    <div>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>